/* CSS Custom Properties */
:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #dddddd;
  --light-gray: #f5f5f5;
  --shadow: rgba(0, 0, 0, 0.2);

  /* Fonts */
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
  --line-height: 1.4;

  /* Thumbnails */
  --thumb-count: 5;
  --thumb-width: 140px;
  --thumb-height: calc(var(--thumb-width) * 0.75);

  /* Semantic variables */
  --active: var(--white);
  --hover: var(--white);
  --text: var(--black);
  --link: var(--black);
  --background: var(--gray);
  --border-radius: 4px;
  --border-radius-rounded: 100%;

  /* Layout */
  --spacing-x: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;

  /* Animations */
  --transition-normal: 250ms ease-in-out;
  --transition-with-spring: 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
  --transition-fast: 150ms ease-in-out;
}
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  color: var(--text);
  background: var(--background);
  font-size: 1.4em;
  line-height: var(--line-height);
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  transition: background var(--transition-normal);
}

body.thumbs-open .canvas img {
  filter: blur(15px);
  opacity: 0.8;
}

body.thumbs-open,
body.comments-open,
body.thumbs-open.cursor-right,
body.thumbs-open.cursor-left,
body.comments-open.cursor-right,
body.comments-open.cursor-left {
  cursor: pointer;
}

body.is-loading .comments,
body.is-loading .pagination,
body.thumbs-open .comments,
body.thumbs-open .pagination {
  opacity: 0;
  visibility: hidden;
}

body.cursor-right {
  cursor: e-resize;
}
body.cursor-left {
  cursor: w-resize;
}

a {
  color: var(--link);
}

/* Layout Components */
.content {
  padding: var(--spacing-m);
  color: var(--text);
}

/* Canvas and Image Styles */
.canvas img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  transition:
    opacity 0ms ease-in-out,
    visibility 0ms ease-in-out,
    max-width var(--transition-normal),
    max-height var(--transition-normal) filter var(--transition-normal);
}

.canvas img.is-visible {
  opacity: 1;
  visibility: visible;
}

/* Pagination */

.pagination {
  position: absolute;
  bottom: var(--spacing-l);
  right: var(--spacing-l);
  transition: opacity var(--transition-normal);
  user-select: none;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}

.pagination.is-visible {
  opacity: 1;
  visibility: visible;
}

.pagination__counter {
  font-family: var(--font-mono);
  background: rgba(0, 0, 0, 0.5);
  color: var(--white);
  padding: 0.6rem 0.8rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Loading Spinner */
.spinner {
  position: absolute;
  top: calc(var(--spacing-l) + 4px);
  right: calc(var(--spacing-l) + 4px);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 4px solid var(--white);
  border-left-color: transparent;
  animation: spinner 0.8s infinite linear;
  transition: opacity var(--transition-normal);
  opacity: 0;
  visibility: hidden;
  z-index: 10000000;
}

.spinner.is-visible {
  opacity: 1;
  visibility: visible;
}

.comments {
  position: absolute;
  top: var(--spacing-l);
  right: var(--spacing-l);
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-rounded);
  box-shadow: 1px 1px 2px var(--shadow);
  background: var(--white) url(../img/message.svg) 50% / 19px no-repeat;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--transition-normal),
    visibility var(--transition-normal);
  z-index: 10000000;
}

.comments__comment {
  position: fixed;
  top: var(--spacing-m);
  right: 80px;
  max-width: 400px;
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 2px var(--shadow);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-normal);
  text-align: left;

  overflow: hidden;
  overflow-y: scroll;
  max-height: 480px;
}

.comments.is-visible,
.comments.is-open .comments__comment {
  opacity: 1;
  visibility: visible;
}

.comments__commentMessage {
  padding: 16px;
  border-bottom: 1px solid var(--gray);
  font-size: 0.8em;
  line-height: var(--line-height);
}

.comments__commentMessage:last-child {
  border-bottom: none;
}

.comments__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 10px;
  height: 10px;
  padding: 8px;
  background: red;
  color: var(--white);
  border-radius: var(--border-radius-rounded);
  box-shadow: 1px 1px 2px var(--shadow);
  font-size: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

/* backdrop */
.backdrop {
  position: absolute;
  inset: 0;
  background: var(--black);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-normal);
  z-index: 10000;
}

.backdrop.is-visible {
  opacity: 0.4;
  visibility: visible;
}

/* thumbnails */
.thumbs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all var(--transition-with-spring);
  z-index: 10000000;
  user-select: none;
}

.thumbs__inner {
  width: 100%;
}

.thumbs__inner::-webkit-scrollbar {
  display: none;
}

.thumbs.is-visible {
  opacity: 1;
  visibility: visible;
}

.thumbs__content {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: var(--spacing-s);
}

.thumb {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x);
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  padding: 0.2rem 0.2rem 0.4rem 0.2rem;

  transition:
    background var(--transition-normal),
    transform var(--transition-normal),
    box-shadow var(--transition-normal);

  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.thumb:focus {
  outline: none;
}

.thumb.is-selected {
  opacity: 1;
  visibility: visible;
  border-radius: var(--border-radius);
  outline: none;
  background: rgba(0, 0, 0, 0.2);
}

.thumb img {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  width: var(--thumb-width);
  height: var(--thumb-height);
  object-fit: cover;
}

.thumb.is-selected img {
  filter: none;
}

.thumb__title {
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  width: calc(var(--thumb-width) - 16px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body.is-fullscreen {
  background: var(--black);
}

body.is-fullscreen .pagination,
body.is-fullscreen .comments {
  opacity: 0;
  visibility: hidden;
}

body.is-fullscreen .thumb.is-selected {
  background: rgba(255, 255, 255, 0.2);
}

body.is-fullscreen .canvas img {
  max-width: 100vw;
  max-height: 100vh;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
