/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --active: var(--white);
  --hover: var(--white);
  --text: var(--white);
  --background: #0053DB;
}

body {
  overflow: hidden;
  color: var(--text);
  background: var(--background);

  font-size: 1.4em;
  line-height: 1.45;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  cursor: grab;
  transition: opacity 250ms ease-in-out;
}

img.is-visible {
  opacity: 1;
  visibility: visible;
}

.Clock {
  position: fixed;
  border-radius: 10px;
  overflow: hidden;
  right: 20px;
  top: 20px;
  width: 100px;
  height: 4px;
  background: rgba(255, 255, 255, .2);
  z-index: 100000;
}

#clock {
  height: 100%;
  background: #fff;
  transition: all 250ms ease-in-out;
}

.Spinner {
  top: 20px;
  right: 20px;
  position: absolute;
  border-top: 3px solid var(--white);
  border-right: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
  border-left: 3px solid var(--background);
  animation: spinner 0.8s infinite linear;
  transition: opacity 250ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 10000000;
}

.Spinner.is-visible {
  opacity: 1;
  visibility: visible;
}

.Spinner, .Spinner:after {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.Pagination {
  position: absolute;
  right: 20px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10000000;
}

.Pagination__page:hover {
  opacity: 0.8;
}

.Pagination__page {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: var(--white);
  margin: 0 0 0 8px;
  opacity: 0.5;
  transition: opacity 250ms ease-in-out;
  cursor: pointer;
}

.Pagination__page.is-active {
  opacity: 1;
}

